<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xiaoming.readbook2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="悦读"
        android:roundIcon="@drawable/book"
        android:supportsRtl="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Ui.Main"
            android:theme="@style/Day"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Ui.Read"
            android:label="悦读"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Ui.Load"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.Setting"
            android:label="设置"
            android:theme="@style/Day">
        </activity>
    </application>

</manifest>